<% provide(:title, "Providers") %>

<h2>Editing Service Provider</h2>

<%= render 'form', serviceprovider: @serviceprovider %>

<%= link_to 'Show', @serviceprovider %> |
<%= link_to 'Back', serviceproviders_path %>
