<div class="center jumbotron">

  <h2> Welcome to MEDEVACsoft </h2>
    <p>
      For your everyday management of Medical Evacuations and Repatriations requests.
      We assist professional Insurers and Medical providers connect and manage their requests appropriately,
      "As it should be in the 21st Century".
    </p>

    <p>
      We provide effective and efficient support to your cases when you need and as you need it so that you can attend
      to you most value customer needs with peace of mind.
    </p>

    <%= link_to "Register!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="center jumbotron">
  <h2> News and Publications </h2>
  <div class="jumbotron">
    <p>
      Check out details on the new MEDEVAC conference soon to take place in London.
      <a href="https://medevac.iqpc.co.uk/?utm_source=external&utm_medium=cpc&utm_campaign=21708.004%2B-%2B0.
      %2BEXTERNALS&utm_term=21708.004_GooglePPC&utm_content=Text&MAC=21708.004_GooglePPC&disc=21708.004_
      GooglePPC&gclid=EAIaIQobChMI5cP8l6GA2gIVTLftCh2mtQdQEAAYASAAEgII_vD_BwE">MEDEVAC Conference 2018</a>
    </p>
  </div>

  <div class="jumbotron">
    <p>
      The Association of Air Medical Services has published some interesting information on recent agreement on
      Medical Air transportation agreements. you can find out more on the link below.
      <a href="http://aams.org/media-room/">AAMS new agreements</a>
    </p>
  </div>

  <div class="jumbotron">
    <p>
      Kurdistan! the new country in Northern Iraq.  Find out how this development affects your expatriate clients in
      the area.
      <a href="https://www.iraqinews.com/tag/kurdistan/">Kurdistan News</a>
    </p>
  </div>

</div>

<div class="center jumbotron">

    <%= link_to image_tag("HomePagePic1.jpg",class: "homepageimages", alt: "Air Ambulance with Patient on Tarmac"),
                '# login path' %>

    <%= link_to image_tag("HomePagePic2.png",class: "homepageimages", alt: "Air Ambulance on final approach"),
                '# login path' %>

    <%= link_to image_tag("HomePagePic3.jpg",class: "homepageimages", alt: "Helicopters on Tarmac"),
                '# login path' %>
</div>


